@model IEnumerable<Album>
@inject IOptions<AppOptions> AppOptions
@{
    Layout = null;
}<?xml version="1.0" encoding="UTF-8"?>

<rss version="2.0">
<channel>
    <title>RymRss</title>
    <link>http://localhost:@AppOptions.Value.Port</link>
    <description>An RSS feed of Upcoming albums scraped from RYM</description>
    <language>en</language>
    @foreach (var album in Model) {
        <item>
            <title>@album.Artist - @album.Title [@(album.IsReleased ? "Released" : "Upcoming")]</title>
            <@("link")>@album.AlbumHref<@("/link")>
            <description>
                <![CDATA[
                    Release date: @album.ReleaseDate
                    <p>
                        <a href="@album.ArtistHref" title="@album.ArtistId">@album.Artist</a> - <a href="@album.AlbumHref" title="@album.AlbumId">@album.Title</a>
                    </p>
                ]]>
            </description>
            <pubDate>@album.DateLastChanged</pubDate>
            <guid isPermaLink="false">@album.AlbumId@album.DateLastChanged</guid>
            <category>@album.ReleaseType</category>
            <category>@(album.IsReleased ? "Released" : "Upcoming")</category>
        </item>
    }
</channel>
</rss>
